img {
    max-width: 100%;
}

.main {
    text-align: center;
    overflow-x: auto;
    padding-top: 70px;
}

.form-control {
    display: inline-block;
    width: auto;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 10px;
}

.form-group {
    margin: 1rem;
}


.alert {
    padding-top: 70px;
}
