.main {
    /* html content block */
    text-align: center;
    overflow-x: hidden;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
}

table {
    width: 100%;
    overflow-x: auto;
}

.form-control {
    /* form item */
    display: inline-block;
    width: auto;
}

.footer {
    /* footer should be 100% width and of slightly different color. */
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 10px;
}

.form-group {
    margin: 1rem;
}


.alert {
    /* message badges should be below navbar */
    padding-top: 70px;
}

.message_text {
    column-span: 3;
}

/* My checkboxes wrapped in labels and divs seem to make the page jump on click in Firefox which is, let's say...
inconvenient. Setting their position explicitly to relative seems to solve this problem for some reason.
Thanks to StackOverflow for this fix <3
 */
.nojump {
    position: relative;
}

table {
    width: 100%;
}
