<!-- View for /login -->
{% extends "layout/layout.html" %}


{% block title %} Login {% endblock %}

{% block navitems %} {% include "layout/nav_items_logged_out.html" %} {% endblock %}

{% block main %}
    <h3>Log in</h3>
    <form action="{{ url_for("login") }}" method="post">
        <div class="form-group">
            <label for="username">
                <input class="form-control" autocomplete="off" autofocus type="text" name="username" placeholder="Username" value="{{ request.form['username'] }}" required>
            </label>
        </div>
        <div class="form-group">
            <label for="password">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>
    <a class="link-secondary" href="{{ url_for("request_password_reset") }}">Forgot password?</a>

{% endblock %}
