{% extends "layout/layout.html" %}


{% block title %} New Schedule {% endblock %}

{% block script %}

    <script>
        function parseDate(year, month, day) {
            return String(year) + "-" + String(month + 1).padStart(2, "0") + "-" + String(day).padStart(2, "0");
        }

        document.addEventListener('DOMContentLoaded', function () {
            /* set default values for date fields based on current date*/
            const date_now = new Date();
            const year_now = date_now.getFullYear();
            const month_now = date_now.getMonth();
            const day_now = date_now.getDay();
            document.getElementById('date-from').value = parseDate(year_now, month_now, day_now);
            document.getElementById('date-until').value = parseDate(year_now, (month_now <= 3 || month_now + 1 >= 9) ? 3 : 9, 1);
        });
    </script>

{% endblock %}

{% block navitems %} {% include "layout/nav_items_logged_in.html" %} {% endblock %}

{% block main %}

    <h3>New Schedule</h3>
    <p>Upload an .ics file and process it to be an actual schedule for you to be an orienration while studying.</p>
    <p>This website is optimised to process Charité schedules, as this is its purpose. </p>
    <p>You get the Charité .ics-file following these steps: <br>
        Log in to LLP -> Mein Stundenplan -> Termine im Kalender dieses Geräts abonnieren (ICal) -> Zeige "Manuell Kalender abonnieren" -> ICal als Datei herunterladen -> HIER.</p>
    <p>As Charité's webpage indicates, your schedule created by this website will not update automatically if lessons change, which happens rarely.</p>
    <br>
    <hr>
    <br>
    <form action="/parse_calendar" method="post">
        <div class="form-group">
            <label for="ics">Upload .ics file </label>
                <input type="file" class="form-control" name="ics" required>
        </div>
        <div class="form-group">
            <label for="date-from">Create schedule from </label>
                <input type="date" name="date-from" id="date-from" class="form-control" required>
            <label for="date-until">until </label>
                <input type="date" name="date-until" id="date-until" class="form-control" required>
        </div>
        <hr>
        <div class="form-group">
            <label for="time-from">Study from </label>
                <input type="time" name="time-from" id="time-from" class="form-control" value="08:00" required>
            <label for="time-until">until </label>
                <input type="time" name="time-until" id="time-until" class="form-control" value="18:00" required>
        </div>
        <div class="form-group">
            <label for="minutes-between-lessons">Pause between lessons (in minutes) </label>
                <input type="number" name="minutes-between-lessons" id="minutes-between-lessons" value="15" class="form-control" required>
        </div>
        <hr>
        <div class="form-group">
            <label for="pause-from">Day's pause starts between </label>
                <input type="time" name="pause-from" id="pause-from" value="12:00" class="form-control" required>
            <label for="pause-until"> and </label>
                <input type="time" name="pause-until" id="pause-until" value="14:00" class="form-control" required>
            <label for="pause-minutes"> giving you minutes to rest: </label>
                <input type="number" name="pause-minutes" id="pause-minutes" value="90" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="travel-time">Travel time (minutes) </label>
                <input name="travel-time" id="travel-time" value="60" type="number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Create schedule</button>
    </form>

{% endblock %}

