<!-- View to request password reset links -->
{% extends "layout/layout.html" %}


{% block title %} Forgot password {% endblock %}

{% block navitems %} {% include "layout/nav_items_logged_out.html" %} {% endblock %}

{% block main %}

    <h3>Forgot your password?</h3>
    <p>If you added your email to your account, you can request a link to reset your password by entering your username below.</p>
    <form action="{{ url_for("request_password_reset") }}" method="post">
        <div class="form-group">
            <label for="username">
                <input type="text" name="username" placeholder="Username" autofocus required>
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Request link</button>
    </form>

{% endblock %}
