<!-- View for reset password links -->
{% extends "layout/layout.html" %}


{% block title %} Reset password {% endblock %}

{% block navitems %} {% include "layout/nav_items_logged_out.html" %} {% endblock %}

{% block main %}

    <h3>Reset password</h3>
    <p>Remember that passwords have to contain one uppercase letter as well as one lowercase one, a number and 8 characters overall.</p>
    <form action="{{ url_for("reset_password/token") }}" method="post">
        <div class="form-group">
            <label for="username">
                <input type="text" name="username" value={{ username }} required readonly>
            </label>
        </div>
        <div class="form-group">
            <label for="New password">
                <input class="form-control" type="password" name="new_password" placeholder="New password" required>
            </label>
        </div>
        <div class="form-group">
            <label for="Confirm password">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm password" required>
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>

{% endblock %}
