<!-- Layout used by all views -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Johannes Randerath">
        <meta name="description" content="StudyProblems, a platform to solve your problems in course together with your friends.">

        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/9f0dc6b4ba.js" crossorigin="anonymous"></script>

        <!-- custom script section -->
        {% block script %} {% endblock %}

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Title of website starts by StudyProblems: followed by a view specific title -->
        <title>StudyProblems: {% block title %} {% endblock %}</title>
    </head>

    <!-- body classes to make footer stay at the bottom of the display if the page is smaller than the window and
         else at the bottom of the page. -->
    <body class="d-flex flex-column min-vh-100">

        <header>

            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for("home") }}">StudyProblems</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="collapsableContent" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="collapsableContent">
                        {% block navitems %} {% endblock %}
                    </div>
                </div>
            </nav>

        <!-- alerts to display and get flashed form values-->
        {% set fill_form = {} %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div {% if category == "danger" %} class="alert alert-danger"
                      {% elif category == "success" %} class="alert alert-success"
                      {% elif category == "info" %} class="alert alert-info"
                      {% elif category == "warning" %} class="alert alert-warning"
                      {% elif category == "important" %} class="alert alert-primary"
                      {% elif category == "message" %} class="alert alert-secondary" {% endif %}>
                    {% if not category == "form-data" %}
                        {{ message }}
                    {% endif %}
                </div>
                {% if category == "form-data" %}
                {%      for pair in message.split(",") %}
                {%          set _ =  fill_form.__setitem__(pair.split(":")[0], pair.split(":")[1]) %}
                {%      endfor %}
                {% endif %}
            {% endfor %}
        {% endwith %}

        </header>

        <!-- main page content -->
        <div class="main">
            {% block main %} {% endblock %}
        </div>

        <!-- footer with copyright -->
        <footer class="footer mt-auto">
            <div class="container">
                <br>
                <span class="text-muted">
                    &copy; 2021 Johannes Randerath. You are welcome to send your comments, bugs and feedback to joranderathsg@gmail.com :)
                </span>
            </div>
        </footer>

    </body>
</html>