<ul class="navbar-nav me-auto">
    <!-- nav items left -->
    <li class="nav-item">
        <a {% if request.url_rule.endpoint == "home" %} class="nav-link active"
            {% else %} class="nav-link" {% endif %} href="/">Home</a>
    </li>
    <li class="nav-item">
        <a {% if request.url_rule.endpoint == "calendar" %} class="nav-link active"
            {% else %} class="nav-link" {% endif %} href="/calendar">Calendar</a>
    </li>
    <li class="nav-item">
        <a {% if request.url_rule.endpoint == "parse_calendar" %} class="nav-link active"
            {% else %} class="nav-link" {% endif %} href="/parse_calendar">New calendar</a>
    </li>
</ul>

<ul class="navbar-nav ms-auto">
    <!-- nav items right -->
    <li class="nav-item">
        <a {% if request.url_rule.endpoint == "account" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/account">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
    </li>
</ul>
